* {
    background-color: #e6ebdd;
    overflow: hidden;
}

.pagina_duvidas {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    text-align: center;
    font-size: 60px;
    font-family: 'Findel', sans-serif;
}

.barra-pesquisas {
    width: 30%;
    height: 8%;
    border-radius: 100px;
    background-color: white;
    border: none;
    background: white url('/public/imagens/img_lupa.png') no-repeat 10px center;
    background-size: 40px 40px;
    outline: none;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.barra-pesquisas:focus {
    background: white;
}

.barra-pesquisas img {
    width: 70px;
    height: 70%;
}

.perguntas {
    width: 45%;
    height: 25%;
    padding: 20px;
    background-color: #d5d8ba;
    margin-top: 40px;
    border-radius: 20px;
}
.perguntas p {
    background-color: #d5d8ba;
    padding: 10px;
    border-bottom: 2px solid #999;
    font-size: 22px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#texto-duvida {
    font-size: 36px;
    margin-top: 40px;
    font-family: "Exo 2", sans-serif;
}

.enviar-duvida {
    width: 20%;
    height: 4%;
    background-color: #d5d8ba;
    border: none;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
}

.enviar-duvida:focus {
    outline: none;
}

.enviar-duvida::placeholder {
    font-size: 22px;
    color: black;
}