.navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: white;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-weight: bold;
}

.logo-img {
  height: 50px;
}

.links {
  display: flex;
  gap: 1.5rem;
  transform: translateX(-2cm);
}

.links a {
  text-decoration: none;
  color: white;
}
